
*:after,
*:before {
  box-sizing: border-box;
}

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  text-align: center;
}

.error__logo {
  color: gray;
  font-size: 12.5rem;
  letter-spacing: .10em;
  margin: .025em 0;
  text-shadow: .05em .05em 0 rgba(0,0,0,.25);
  white-space: nowrap;
  
  @media(max-width: 30rem) {
    font-size: 8.5rem;
  }
 
}

.error__logo > span{
    animation: spooky 2s alternate infinite linear;
    color: #7ed321;
    display: inline-block;
}


.error .error__title {
  color: gray;
  margin-bottom: .40em;
}

.error .error__subTitle {
  color: gray;
  margin-top: 0;
}

@keyframes spooky {
  from {
    transform: translatey(.15em) scaley(.95);
  }
  
  to {
    transform: translatey(-.15em);
  }
}
.btn__error{
    margin-top: 10px;
    padding: 10px;
    background-color: #7ed321;
}
.btn__error a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}