*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}



.movieDetail{
   background-repeat: no-repeat;
   background-size: cover;
   height: 780px;
   position: relative;
   color: white;
  
}
.styleBlur{
    position: absolute;
    background: linear-gradient(0deg,#0a2029,transparent);
   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.detailMain-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.detailMain-top  .detailMain-img{
    padding: 0;
}

.detailMain-top  .detailMain-img img{
    width: 100%;
}

.detailMain-top  .detailMain-info{
    position: relative;
}
.detailMain-top  .detailMain-info2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}


.detailMain-top  .detailMain-info2 p{
    margin: 0;
    color: white;
}

.detailMain-top  .detailMain-info2 h3{
    margin: 0;
    color: white;
}
.detailMain-top  .detailMain-info2 .btn-datVe{
    margin: 0;
    padding: 7px 25px;
    margin: 25px 0;
}

.detailMain-top .detailMain-score {
    position: relative;
}
.detailMain-top .detailMain-score .detailMain-scoreContainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.detailMain-top .detailMain-score .circlePercent{
    position: relative;
  
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: auto;
    background-color: rgba(0,0,0,.4);
}


.detailMain-score .circlePercent .circleBorder{
    width: 140px;
    height: 140px;
    background: 0 0;
    border: 7.5px solid #3a3a3a;
    border-radius: 50%;
   
    position: absolute;
}
.detailMain-danhGia{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    width: 100%;
    color: #fff;
    display: block;
    text-align: center;

}
.slice{
    position: absolute;
    top: 0;
    width: 140px;
    height: 140px;
    
}

.bar{
    position: absolute;
    border: 7.5px solid #7ed321;
    width: 140px;
    height: 140px;
    clip: rect(0,70px,140px,0);
    border-radius: 50%;
    transform: scaleX(-1);
}
.fill {
    position: absolute;
    border: 7.5px solid #7ed321;
    width: 140px;
    height: 140px;
    clip: rect(0,70px,140px,0);
    border-radius: 50%;

}

.contentMain {
    color: white;
    background:#000 ;
}
.nav-tabs{
    text-align: center;
    border: none;    
}


.nav-tabs li{
    display: inline-block;
    padding: 10px 15px;
}
.nav-tabs li span{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    transition: all 0.3s;
}

.nav-tabs li .active{
    color: #FB4226;
    font-size: 20px;
}

.nav-tabs li:hover span{
    font-size: 20px;
 
}

/* .contentMain .tab-content{
    background: #fff;
    color: black;

} */

.contentMain .tab-content .hidden{
    display: none;
} 

.nav-tabs-info {
   font-size: 14px;
}
.rowLeftInfo{
    margin-left: 60px; ;
}

.contentInfo {
    font-weight: 500;
    
}

