    
 .seat-true {
    color: #f7b500;
    border: none;
    background: none;
}

.seat-false{
    border: none;
    background: none;
    color: gray;
}   

.seat-select{
    width: 30px;
    height: 30px;
    color: #44c020;
}

.seat-unSelect{
    width: 30px;
    height: 30px;

}