    
 .seat-thuong {
    color: #f7b500;
    border: none;
    background: none;
}
.seat-vip{
    color: #b03550;
    border: none;
    background: none;
}
.seat-false{
    border: none;
    background: none;
    color: gray;
}   

.seat-select{
    width: 30px;
    height: 30px;
    color: #39f107;
}

.seat-unSelect{
    width: 30px;
    height: 30px;

}   