/* #4caf50 */
.homepage__navbar {
  padding-left: 0;
}
.movie__header {
  /* width: 100%; */
  height: auto;
  background-color: rgba(14, 13, 13, 0.479) !important;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  padding: 0 3rem 0 0;
  /* font-size: 16px; */
}

.nav-item a {
  color: white;
  animation: text-flicker 4s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;

    text-shadow: 0px 0px 29px rgba(29, 242, 22, 1);
  }

  2% {
    opacity: 1;

    text-shadow: 0px 0px 29px rgba(29, 242, 22, 1);
  }

  8% {
    opacity: 0.1;

    text-shadow: 0px 0px 29px rgba(29, 242, 22, 1);
  }

  9% {
    opacity: 1;

    text-shadow: 0px 0px 29px rgba(29, 242, 22, 1);
  }

  12% {
    opacity: 0.1;

    text-shadow: 0px 0px rgba(29, 242, 22, 1);
  }

  20% {
    opacity: 1;

    text-shadow: 0px 0px rgba(29, 242, 22, 1);
  }

  25% {
    opacity: 0.3;

    text-shadow: 0px 0px rgba(29, 242, 22, 1);
  }

  30% {
    opacity: 1;

    text-shadow: 0px 0px rgba(29, 242, 22, 1);
  }

  70% {
    opacity: 0.7;

    text-shadow: 0px 0px rgba(29, 242, 22, 1);
  }

  72% {
    opacity: 0.2;

    text-shadow: 0px 0px rgba(29, 242, 22, 1);
  }

  77% {
    opacity: 0.9;

    text-shadow: 0px 0px rgba(29, 242, 22, 1);
  }

  100% {
    opacity: 0.9;

    text-shadow: 0px 0px rgba(29, 242, 22, 1);
  }
}

.img__header {
  width: 320px;
  height: 73px;
}

.navbar-brand {
  padding: 0;
}

.header__top {
  font-weight: bold;
  font-size: 1.4rem;
}

.navbar-toggler {
  color: #f26b38;
  animation: text-flicker 4s linear infinite;
  border: solid 3px #f26b38 !important;
  border-radius: 10%;
}

.navbar-light .navbar-toggler-icon {
  border: solid 3px #f26b38;
  animation: text-flicker 4s linear infinite;
}
