.tabTheater__cumRap:hover {
  cursor: pointer;
}
.tabTheater__listPhim {
  /* display: block; */
  /* height: 100%; */
  /* border-radius: 80%; */
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 1s linear infinite;
  margin: 5px 0;
  border: 2.5px dashed #e914c2d4;
}

@keyframes spin {
  100% {
    transform: rotateZ(1deg);
    /* transform: rotate3d(1deg); */
  }
  80% {
    transform: rotateZ(-1deg);
    /* transform: rotate3d(1deg); */
  }
  60% {
    transform: rotateZ(1deg);
    /* transform: rotate3d(1deg); */
  }
  40% {
    transform: rotateZ(-1deg);
    /* transform: rotate3d(1deg); */
  }
}

a.tabTheater__active:active {
}

.tabTheater__info {
  position: relative;
  padding-bottom: 15px;
  margin: 2rem 0;
  color: blue;
}

.tabTheater__info::after {
  content: " ";
  width: 0;
  height: 4px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  transition: all 0.5s;
}

.tabTheater__info:hover::after {
  width: 100%;
  /* border: solid 2px goldenrod; */
}
