.img__topSearch {
  height: 300px;
}

/* CSS BUtton Slick */
.slick-next,
.slick-prev {
  /* color: pink !important; */
  /* height: 100px !important; */
  opacity: 1;
}

button.slick-arrow.slick-next,
button.slick-arrow.slick-prev {
  /* color: black !important; */
  height: 100px !important;
  width: 50px !important;
  border: none;
  background-color: #29ffc6;
  /* font-size: 3rem; */
  /* margin: 0 80px; */
}
button.slick-arrow.slick-next {
  transform: translate(40%, -50%);
}
button.slick-arrow.slick-prev {
  transform: translate(-40%, -50%);
  /* border: none; */
}

.slick-next:before,
.slick-prev:before {
  font-size: 3rem;
  /* opacity: 1; */
  color: black;
}

button.slick-arrow.slick-next:hover .slick-next {
  content: " ";
  /* color: #fbbd61; */
  transform: scale(1.5);
}

/*End CSS BUtton Slick */

.top__Search {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
  height: 380px;
}

.top__Search__overlay {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;

  width: 180%;
  height: 100%;
  background: linear-gradient(to bottom, #a8ff78, #78ffd6);

  /* CÁCH BẺ XÉO NỀN THEO TRỤC X */
  transform: translateX(-148%) skewX(30deg);
  transition: all 0.5s;
}

.top__Search__play {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.2s;
}

.top__Search__play i {
  width: 80px;
  height: 80px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 15px auto;
  line-height: 80px;
}

.top__Search__play a {
  color: white;
}

.top__Search__play a:hover {
  color: #fff;
  text-decoration: none;
  /* transform: scale(0.5); */
  /* transition: all 0.5s; */
}

.top__Search:hover .top__Search__overlay {
  transform: translateX(-20%) skewX(20deg);
}

@media screen and (max-width: 576px) {
  .top__Search img {
    width: 100%;
  }
}

.top__Search:hover .top__Search__play {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.top__Search__title {
  /* padding: -1rem 0; */
  /* padding-bottom: 2rem; */
  /* margin-bottom: 1rem; */
}
.top__Search__link {
  color: #38ef7d;
  transition: all 2s ease;
  border: 1px solid black !important;
  border-radius: 10%;
  margin: 0 11px;
  font-size: 1.5rem;
}
.top__Search__link:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

/* .topSearch__book:hover {
  transform: none;
  transition: none;
} */
